:root.theme-light {
  --bg-cover-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --dop-accent-color: rgba(255, 194, 230, 1);

  /* Используется для заголовков цвет которых отличается в разных темах */
  --contrast-accent-color: 53, 52, 48;

  /* Используется для создание полупрозрачности у кнопок в состоянии hover  */
  --dark-title-color: rgba(53, 52, 48, 1);

  /* Используется для показа и скрытия значка камеры в разных темах */
  --camera: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-cover-image: url(../images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --dop-accent-color: rgba(255, 194, 230, 1);

    /* Используется для показа и скрытия значка камеры в разных темах */
    --camera: none;

    /* Используется для создание полупрозрачности у кнопок в состоянии hover  */
    --contrast-accent-color: 53, 52, 48;

    /* Используется для заголовков цвет которых отличается в разных темах */
    --dark-title-color: rgba(53, 52, 48, 1);
  }
}
