.page {
  object-fit: cover;
  object-position: center;
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  background-color: var(--bg-color, rgba(0, 0, 40, 1));
  background-image: var(--bg-cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--spacing);
  block-size: 100vh;
  min-block-size: 668px;
}

.corners::before {
  content: "";
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);

  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: rgba(var(--contrast-accent-color));
  inline-size: 25.04px;
  block-size: 25px;
}

.corners::after {
  content: "";
  position: absolute;
  bottom: var(--spacing);
  left: var(--spacing);

  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: rgba(var(--contrast-accent-color));
  inline-size: 25.04px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  margin: 0;
  border: none;
  padding: 0 13px 1.3px;
  color: rgba(var(--contrast-accent-color));
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--contrast-accent-color), 0.4);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  color: var(--dop-accent-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.camera-feed {
  position: absolute;
  top: var(--spacing);
  right: calc(var(--spacing) + 9px);
  display: var(--camera, flex);
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
}

.camera-feed::after {
  content: "";
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px currentColor;
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.title-decor {
  align-self: flex-start;
  color: var(--dark-title-color);
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--accent-color);
}

.header__text-block {
  align-self: center;
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px var(--spacing);
}

.section {
  display: grid;
  gap: 20px;
}

.section-list {
  display: grid;
  gap: 20px;
}

.text-card {
  display: grid;
  gap: 10px;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.section__title {
  color: rgba(var(--contrast-accent-color));
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.text-card__subtitle {
  font-weight: normal;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.link:hover {
  border-bottom: 2px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.concentration-methods-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery {
  gap: 10px;
}

.concentration-methods-images img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  padding: var(--spacing);
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;

  color: var(--dop-accent-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: 1 /-1;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text-block {
    grid-column: 2;
    justify-self: start;
    margin-inline-start: 10px;
  }

  .content {
    gap: 80px;
    padding: 60px var(--spacing);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .text-card {
    grid-column: 2;
  }

  .section-list_alternative {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .concentration-methods-images {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery li:nth-of-type(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery li:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery li:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery li:nth-of-type(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1/-1;
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    gap: 20px 10px;
  }

  .section-list_alternative {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration-methods-images {
    gap: 20px;
  }
}
